Repository evgeniya-egupova/wise_host, pull requests merged in 2022-03, with the labels that each got.

#12 add notebook with dataset analysis
  data/price_prediction.ipynb
Labels: data

#14 Train initial prediction model
  data/price_prediction.ipynb
Labels: predictor

#15 Spark dataset preparation
  model/spark_model.ipynb
Labels: data

#19 add dataset description
  data/README.md
Labels: documentation, data

#20 Backend implementation
  backend_docker/build.sh
  backend_docker/build.yml
  backend_docker/docker-compose.yml
  backend_docker/docker/base/Dockerfile
  backend_docker/docker/flask/Dockerfile
  backend_docker/docker/flask/app.py
  backend_docker/docker/flask/requirements.txt
  backend_docker/docker/jupyterlab/Dockerfile
  backend_docker/docker/spark-base/Dockerfile
  backend_docker/docker/spark-master/Dockerfile
  backend_docker/docker/spark-worker/Dockerfile
  backend_docker/script/sparkr.sh
  backend_docker/workspace/data/uk-macroeconomic-data.csv
  backend_docker/workspace/pyspark.ipynb
  backend_docker/workspace/scala.ipynb
  backend_docker/workspace/sparkr.ipynb
  backend_local/server_app.py
Labels: backend

#22 Feature/UI map
  ui/src/geojson/neighbourhoods.geojson
  ui/src/index.js
  ui/src/libs/leaflet.ajax.min.js
  ui/src/utils/map-utils.js
Labels: UI
